.cover {
  width: 100%;
}

.row {
  margin-bottom: 12px;
}

#genres {
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

.card {
  margin: 0
}

.card .card-title {
  font-size: 15px;
  font-weight: 300;
}

.card .card-content .card-title {
    line-height: 24px;
    margin-bottom: 0;
  }

  .card .card-content {
      padding: 8px;
      border-radius: 0 0 2px 2px;
  }
