<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="blue-grey darken-3">
  <h1 class="center-align white-text">The Periodic Table Of Songs</h1>
  <div class="container">
    <div class="row" id="genres">
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">Classical</p>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">Country</p>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">R&amp;B</p>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">Rock</p>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">Pop</p>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <p class="card-title center-align">Rap</p>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
