<!doctype html>
{% include head.html %}
<body>
  <h1>Periodic Table of Songs</h1>
  <p class="title only-small">This site works better on bigger devices.</p>
	<div class="row">
    <div class="only-large one columns"></div>
    {% for g in site.data.genres %}

		<div class="only-large two columns">
			<p class="title">{{ g.type }}</p>
		</div>
    {% endfor %}
	</div>
  {{content}}

  <footer>
    <p>Created by <a href="https://github.com/robinator8">Robert Craig</a></p>
  </footer>

  {% include scripts.html %}
  </body>
</html>
